<a href="https://colab.research.google.com/github/ggpp200/corap/blob/master/house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

1. train.csv : 학습 데이터

id : 데이터 고유 id

OverallQual : 전반적 재료와 마감 품질

YearBuilt : 완공 연도

YearRemodAdd : 리모델링 연도


ExterQual : 외관 재료 품질

BsmtQual : 지하실 높이

TotalBsmtSF : 지하실 면적 

1stFlrSF : 1층 면적 

GrLivArea : 지상층 생활 면적

FullBath : 지상층 화장실 개수 

KitchenQual : 부억 품질 

GarageYrBlt : 차고 완공 연도

GarageCars: 차고 자리 개수

GarageArea: 차고 면적 

target : 집값(달러 단위)





2.test.csv

id : 데이터 고유 id

OverallQual : 전반적 재료와 마감 품질

YearBuilt : 완공 연도

YearRemodAdd : 리모델링 연도

ExterQual : 외관 재료 품질

BsmtQual : 지하실 높이

TotalBsmtSF : 지하실 면적 

1stFlrSF : 1층 면적 

GrLivArea : 지상층 생활 면적

FullBath : 지상층 화장실 개수 

KitchenQual : 부억 품질 

GarageYrBlt : 차고 완공 연도

GarageCars: 차고 자리 개수

GarageArea: 차고 면적 



3.sample_submission.csv 
id : 데이터 고유 id
target : 집값(달러 단위)

In [5]:
train.head()

   id  Overall Qual  Gr Liv Area  ... Year Remod/Add  Garage Yr Blt  target
0   1            10         2392  ...           2003           2003  386250
1   2             7         1352  ...           2007           2006  194000
2   3             5          900  ...           1967           1967  123000
3   4             5         1174  ...           2006           2000  135000
4   5             7         1958  ...           2005           2005  250000

[5 rows x 15 columns]

In [6]:
test.head()

   id  Overall Qual  Gr Liv Area  ... Year Built  Year Remod/Add  Garage Yr Blt
0   1             9         1800  ...       2007            2007           2007
1   2             6         1082  ...       1948            1950           1948
2   3             6         1573  ...       2000            2000           2000
3   4             6         2443  ...       2004            2004           2004
4   5             5         1040  ...       1968            1968           1991

[5 rows x 14 columns]

In [11]:
train.tail()

        id  Overall Qual  Gr Liv Area  ... Year Remod/Add  Garage Yr Blt  target
1345  1346             6         1756  ...           1997           1996  204000
1346  1347             9         2748  ...           2006           2006  390000
1347  1348             5         1214  ...           1967           1967  143000
1348  1349             5          894  ...           1974           1974  131000
1349  1350             5          907  ...           1978           1978  140000

[5 rows x 15 columns]

In [12]:
test.tail()

        id  Overall Qual  ...  Year Remod/Add Garage Yr Blt
1345  1346             8  ...            2008          2008
1346  1347             5  ...            1964          1964
1347  1348             4  ...            1950          1920
1348  1349             5  ...            2005          2004
1349  1350             5  ...            1950          1945

[5 rows x 14 columns]

In [21]:
len(train.columns)

15

In [22]:
len(test.columns)

14

In [23]:
train.columns

Index(['id', 'Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt', 'target'],
      dtype='object')