<a href="https://colab.research.google.com/github/ggpp200/corap/blob/master/house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [4]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

1. train.csv : 학습 데이터

id : 데이터 고유 id

OverallQual : 전반적 재료와 마감 품질

YearBuilt : 완공 연도

YearRemodAdd : 리모델링 연도


ExterQual : 외관 재료 품질

BsmtQual : 지하실 높이

TotalBsmtSF : 지하실 면적 

1stFlrSF : 1층 면적 

GrLivArea : 지상층 생활 면적

FullBath : 지상층 화장실 개수 

KitchenQual : 부억 품질 

GarageYrBlt : 차고 완공 연도

GarageCars: 차고 자리 개수

GarageArea: 차고 면적 

target : 집값(달러 단위)





2.test.csv

id : 데이터 고유 id

OverallQual : 전반적 재료와 마감 품질

YearBuilt : 완공 연도

YearRemodAdd : 리모델링 연도

ExterQual : 외관 재료 품질

BsmtQual : 지하실 높이

TotalBsmtSF : 지하실 면적 

1stFlrSF : 1층 면적 

GrLivArea : 지상층 생활 면적

FullBath : 지상층 화장실 개수 

KitchenQual : 부억 품질 

GarageYrBlt : 차고 완공 연도

GarageCars: 차고 자리 개수

GarageArea: 차고 면적 



3.sample_submission.csv 
id : 데이터 고유 id
target : 집값(달러 단위)

In [5]:
train.head()

   id  Overall Qual  Gr Liv Area  ... Year Remod/Add  Garage Yr Blt  target
0   1            10         2392  ...           2003           2003  386250
1   2             7         1352  ...           2007           2006  194000
2   3             5          900  ...           1967           1967  123000
3   4             5         1174  ...           2006           2000  135000
4   5             7         1958  ...           2005           2005  250000

[5 rows x 15 columns]

In [6]:
test.head()

   id  Overall Qual  Gr Liv Area  ... Year Built  Year Remod/Add  Garage Yr Blt
0   1             9         1800  ...       2007            2007           2007
1   2             6         1082  ...       1948            1950           1948
2   3             6         1573  ...       2000            2000           2000
3   4             6         2443  ...       2004            2004           2004
4   5             5         1040  ...       1968            1968           1991

[5 rows x 14 columns]

In [7]:
train.tail()

        id  Overall Qual  Gr Liv Area  ... Year Remod/Add  Garage Yr Blt  target
1345  1346             6         1756  ...           1997           1996  204000
1346  1347             9         2748  ...           2006           2006  390000
1347  1348             5         1214  ...           1967           1967  143000
1348  1349             5          894  ...           1974           1974  131000
1349  1350             5          907  ...           1978           1978  140000

[5 rows x 15 columns]

In [8]:
test.tail()

        id  Overall Qual  ...  Year Remod/Add Garage Yr Blt
1345  1346             8  ...            2008          2008
1346  1347             5  ...            1964          1964
1347  1348             4  ...            1950          1920
1348  1349             5  ...            2005          2004
1349  1350             5  ...            1950          1945

[5 rows x 14 columns]

In [8]:
len(train.columns)

15

In [9]:
len(test.columns)

14

In [11]:
train.columns

Index(['id', 'Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt', 'target'],
      dtype='object')

In [7]:
train.describe()

                id  Overall Qual  ...  Garage Yr Blt         target
count  1350.000000   1350.000000  ...    1350.000000    1350.000000
mean    675.500000      6.208889  ...    1978.471852  186406.312593
std     389.855743      1.338015  ...      25.377278   78435.424758
min       1.000000      2.000000  ...    1900.000000   12789.000000
25%     338.250000      5.000000  ...    1961.000000  135000.000000
50%     675.500000      6.000000  ...    1978.500000  165375.000000
75%    1012.750000      7.000000  ...    2002.000000  217875.000000
max    1350.000000     10.000000  ...    2207.000000  745000.000000

[8 rows x 12 columns]

In [6]:
test.describe()

                id  Overall Qual  ...  Year Remod/Add  Garage Yr Blt
count  1350.000000   1350.000000  ...     1350.000000    1350.000000
mean    675.500000      6.237037  ...     1985.258519    1978.457037
std     389.855743      1.370057  ...       20.818442      25.771750
min       1.000000      2.000000  ...     1950.000000    1895.000000
25%     338.250000      5.000000  ...     1966.000000    1961.000000
50%     675.500000      6.000000  ...     1995.000000    1982.000000
75%    1012.750000      7.000000  ...     2004.000000    2002.000000
max    1350.000000     10.000000  ...     2010.000000    2010.000000

[8 rows x 11 columns]

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1350 non-null   int64
 1   Overall Qual    1350 non-null   int64
 2   Gr Liv Area     1350 non-null   int64
 3   Exter Qual      1350 non-null   object
 4   Garage Cars     1350 non-null   int64
 5   Garage Area     1350 non-null   int64
 6   Kitchen Qual    1350 non-null   object
 7   Total Bsmt SF   1350 non-null   int64
 8   1st Flr SF      1350 non-null   int64
 9   Bsmt Qual       1350 non-null   object
 10  Full Bath       1350 non-null   int64
 11  Year Built      1350 non-null   int64
 12  Year Remod/Add  1350 non-null   int64
 13  Garage Yr Blt   1350 non-null   int64
 14  target          1350 non-null   int64
dtypes: int64(12), object(3)
memory usage: 158.3+ KB

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1350 non-null   int64
 1   Overall Qual    1350 non-null   int64
 2   Gr Liv Area     1350 non-null   int64
 3   Exter Qual      1350 non-null   object
 4   Garage Cars     1350 non-null   int64
 5   Garage Area     1350 non-null   int64
 6   Kitchen Qual    1350 non-null   object
 7   Total Bsmt SF   1350 non-null   int64
 8   1st Flr SF      1350 non-null   int64
 9   Bsmt Qual       1350 non-null   object
 10  Full Bath       1350 non-null   int64
 11  Year Built      1350 non-null   int64
 12  Year Remod/Add  1350 non-null   int64
 13  Garage Yr Blt   1350 non-null   int64
dtypes: int64(11), object(3)
memory usage: 147.8+ KB

In [29]:
train.groupby('Overall Qual')['target'].describe()

              count           mean            std  ...       50%       75%       max
Overall Qual                                       ...
2               3.0   43366.666667   35301.713193  ...   35311.0   58655.5   82000.0
3               8.0   92334.375000   25537.888300  ...   93000.0  109750.0  126175.0
4              75.0  108232.733333   25180.460648  ...  108500.0  125500.0  170000.0
5             379.0  136439.781003   25217.022583  ...  135000.0  149900.0  257000.0
6             351.0  163546.358974   36497.108286  ...  159000.0  183250.0  272000.0
7             307.0  206394.495114   43572.354592  ...  202500.0  229900.0  383970.0
8             156.0  273767.096154   57321.506299  ...  275000.0  307000.0  441929.0
9              56.0  369155.803571   67628.558120  ...  352500.0  404250.0  591587.0
10             15.0  453556.066667  126111.743129  ...  426000.0  505000.0  745000.0

[9 rows x 8 columns]