<a href="https://colab.research.google.com/github/ggpp200/corap/blob/master/%EB%94%B0%EB%A5%B4%EB%A6%89%EB%94%B0%EB%A5%B4%EB%A6%89%20%EB%B9%84%EC%BC%9C%EB%82%98%EC%84%B8%EC%9A%94~.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

id 고유 id

hour 시간

temperature 기온

precipitation 비가 오지 않았으면 0, 비가 오면 1

windspeed 풍속(평균)

humidity 습도

visibility 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미)

ozone 오존

pm10 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지)

pm2.5 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지)

count 시간에 따른 따릉이 대여 수

In [5]:
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]